/*Global settings for body*/

body
{
background: white;
font-family: 'Open Sans', sans-serif;
color:#333333;
}

/* Header */
header
{
padding:5px;
background-color: #0099cc;
position:relative;
width:auto;
max-width:900px;
margin: 0 auto 40px auto;
}

header h1
{
margin: 20px 0 0 0;
font-size: 55px;
color: white;
font-family:'Futura';
text-align: center;
letter-spacing: 1px;
}

header p
{
font-family: 'Open Sans', sans-serif;
font-size: 16px;
color: #4A463B;
margin-left:132px;
}

header nav ul
{
#border-top:5px solid #0099cc;
#border-bottom: 5px solid #0099cc;
list-style:none;
}

header nav ul li
{
display:block;
float:right;
padding-right: 0px;
padding-left: 15px;
padding-top: 20px;
padding-bottom: 20px;
}

header nav ul li a
{
font-family: 'Open Sans', sans-serif;
color: #0099cc;
text-decoration: none;
#text-transform: uppercase;
transition: all .25s ease;
}

header nav ul li a:hover
{
color: #333333;
}

#boxcontent
{
width:auto;
max-width:875px;
margin:0 auto;
padding: 25px 15px 40px 15px;
#background-color: #F0F8FF;
}

#boxcontent h2
{
color: #0099cc;
#border-bottom: 1px solid #dedede;
#margin-bottom: 50px;
}

#boxcontent h2 p
{
color: #999999;
font-size:12px;
border-bottom: 1px solid #dedede;
margin-bottom: 40px;
}

#boxcontent p 
{
text-align: justify;
}